.ruby-version
/vendor/
.rspec_status
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/a.rb
/exe/x
/exe/y.rb
/exe/zexec
/a.txt
/a2.txt
/a2b.txt
/a3.txt
/a3j.txt
/a4.txt
/a4j.txt
/a5.txt
/a5j.txt
/a6j.txt
/b.txt
/db/migrate/080_create_categoryhier.rb
/exe/a.rb
/exe/a2.rb
/exe/b.rb
/exe/c.rb
/exe/d.rb
/exe/public/
/exe/w.rb
/exe/w2.rb
/exe/w3.rb
/exe/w4.rb
/jqp.txt
/jqp2.txt
/w4.txt
/db
/exe/z.rb
/lib/everythingop/x.rb
/public/p.txt
/repo.tsv
/repo.txt
/exe/everythingop2
/production.sqlite3
/db/database.log
/db/production.sqlite3
/exe/everythingop-svr
/production.sqlite3

/db0
/dba
/exe/dbbk
/exe/dbbk2
/run_makemigrate.bat
/run.bat
/sql
/txt
/vendor
/exe/everythingop-cl
/exe/everythingop-cl2
/lib/everythingop/x-everythingor.rb
Rakefile.*
*.code-workspace

